<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="../static/styles/forgotpass.css">
    </head>
    <body>
        <div class="container-left">
            <h1>Forgot Password</h1>
            <p>Enter your email address</p>
            <form class="input" action="">
                <input class="form__input" type="email" placeholder="Enter email address" required>
                <input class="form__submit" type="submit" value="Continue" required>
            </form>
        </div>
        <div class="container-right">
            <h1>New Password</h1>
            <p>Please create a new password that you don't use on any other site</p>
            <form class="input" action="login.html">
                <input class="form__input" type="password" placeholder="Create new password" required>
                <input class="form__input" type="password" placeholder="Confirm your password" required>
                <input class="form__submit" type="submit" value="Change">
            </form>
        </div>
    </body>
</html>