<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Website</title>
        <link rel="stylesheet" href="../static/styles/fontawesome-free-6.4.2/css/all.min.css">
        <link rel="stylesheet" href="../static/styles/login.css">
    </head>
    <body>
        <div class="navbar">
            <div class="nav__list">
                <div class="nav__item">Home</div>
                <div class="nav__item">About</div>
                <div class="nav__item">Service</div>
                <div class="nav__item">Contact</div>
            </div>
            <div class="nav__list">
                <input id="nav__search" type="text" placeholder="Search...">
            </div>
        </div>
        <div class="container">
            <div class="container-left">
                <div class="form__title">
                    <h1 style="margin: 40px 0 48px 0; font-weight: 550; font-size: 45px;">Codehal</h1>
                </div>
                <div class="form__text">
                    <h2 class="form__text" style="font-size: 50px; font-weight: 550;">Welcome!</h2>
                    <h2 class="form__text" style="font-size: 30px; margin-top: 16px; font-weight: 500;">First New Website</h2>
                </div>
                <div class="form__icon">
                    <a class="item__icon icon--instagram" href="https://www.instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="item__icon icon--facebook" href="https://www.facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="item__icon icon--twitter" href="https://www.twitter.com/" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class="item__icon icon--github" href="https://github.com" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="container-right">
                <h1>Sign In</h1>
                <div class="fix-bug">
                    <div class="form__item">
                        <form class="form__item" action="web.html">
                            <div class="input-icon">
                                <input class="input__field" type="text" placeholder="Email" required>
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="input-icon">
                                <input class="input__field" type="password" placeholder="Password" required>
                                <i class="fa-solid fa-lock"></i>
                            </div>
                            <div class="form__submit">
                                <input class="form__sign-in" type="submit" value="Sign In">
                            </div>
                        </form>
                    </div>
                    <div class="form__addition">
                        <label class="form__addition form__remember" for="">
                            <input style="margin: 0 4px 0 0;" type="checkbox">Remember me
                        </label>
                        <a class="form__addition form__check" href="forgotpass.html">Forgot Password?</a>
                    </div>
                </div>
                <div class="form__sign-up">
                    <p>Don't have an account?</p>
                    <a href="register.html">Sign up</a>
                </div>
            </div>
        </div>
    </body>
</html>