<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/fontawesome-free-6.4.2/css/all.min.css">
        <title>Register</title>
        <link rel="stylesheet" href="../static/styles/register.css">
    </head>
    <body>
        <h1>Official Signup Form</h1>
        <div class="container__right">
            <!-- <form action="login.html">
                <input class="item__input" type="text" placeholder="First Name" title="Please enter your Name" required>
                <input class="item__input" type="email" placeholder="mail@example.com" title="Please enter a valid email" required>
                <input class="item__input" id="password1" type="password" placeholder="Password" title="Please fill out this field" required>
                <input class="item__input" id="password2" type="password" placeholder="Confirm Password" title="Please fill out this field" required>
                <input class="item__register" type="submit" value="Register">
            </form> -->
            <div class="form__input">
                <form action="">
                    <div class="input-field">
                        <input type="text" title="Please enter your name" required>
                        <label for="">Name</label>
                    </div>
                    <div class="input-field">
                        <input type="email" title="Please enter a valid email" required>
                        <label for="">Enter email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label for="">Enter password</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label for="">Confirm password</label>
                    </div>
                    <input class="item__register" type="submit" value="Register">
                </form>
            </div>
            <p>Fast Signup With Your Favourite Social Profile</p>
            <div class="icon">
                <a class="item__icon icon--facebook" href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a class="item__icon icon--youtube" href="https://www.youtube.com/" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="item__icon icon--twitter" href="https://www.twitter.com/" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="item__icon icon--google" href="https://www.gmail.com/" target="_blank">
                    <i class="fa-brands fa-google-plus-g"></i>
                </a>
            </div>
        </div>
        <p>
            © 2023 Official Signup Form. All Rights Reserved | Design by 
            <a class="the-end" href="https://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </body>
</html>