<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
</head>
<body bgcolor="yellow" text="black">
    <br>
    <li style="background-color: yellow; 
            width: 70px; 
            height: 40px;
            display: inline;
            font-size: 0px;
            font-family: Arial, Helvetica, sans-serif;">
        <b>
            <i>miniCTF{N0w_</i>
        </b>
    </li>
    <br>
</body>
</html>